@import 'nib'
@import 'public/css/_util'

meter-height = 25px
meter-width = 300px
$m = 10px
$p = 4px
$r = 6px
$bc = #555
*
	box-sizing: border-box


dim( x, y)
	width x
	height y
body
	background-color: #222
	font: 14px/1.5 sans-serif
	padding: 0
	margin: 0
	color: #fff
#page
	margin: $m
section
	border: 1px solid $bc
	display: inline-block
	vertical-align: bottom
	header
		padding: $p
	cursor: pointer

.target
	box-shadow: 0 0 10px yellow

button
	smooth-button()
meter
	dim: meter-width meter-height
	display: block

.meter
	display: block
	dim: meter-width meter-height
	border: 1px solid #ddd
	background: #eee
	position: relative
	line-height: meter-height
	user-select: none
	margin: $m 0
	cursor: pointer
	user-select: none
	border-radius: $r
	overflow: hidden

	em
		z-index: +1
		display: block
		position: relative
		text-align: center
		pointer-events: none
		user-select: none

	span
		position: absolute
		user-select: none
		border-radius: $r
		top: 0
		left: 0
		background-color: green
		height: meter-height
		width: 0
		display: block
		transition: width .5s linear
		pointer-events: none;

	&.on span
		transition: width 1s linear
		width: 100%
.hotbar
	hnav()
	background: #666
	padding: $p
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	
	a
		smooth-button()
#target
	position: absolute
	top: $m
	left: 320px
#enemies
	position: absolute
	right: $m
	top: 0
#console
	border: 1px solid $bc
	height: 180px
	width: 500px
	overflow: auto;
	resizable: both